<div class="private-content">
  <i class="fa-solid fa-heart" (click)="favorites()"></i>

  <div *ngIf="nowPlayingMovies" class="slider-wrapper">
    <h1>Vizyondakiler</h1>
    <button class="scroll-btn left" (click)="scrollLeft(sliderRef)">
      &#10094;
    </button>
    <button class="scroll-btn right" (click)="scrollRight(sliderRef)">
      &#10095;
    </button>

    <div #sliderRef class="flex-container scroll-hide">
      <div *ngFor="let img of nowPlayingMovies" class="movie-card">
        <img
          [src]="baseUrl + img.poster_path"
          alt="{{ img.title }}"
          (click)="details(img.id)"
        />
      </div>
    </div>
  </div>

  <!-- populer -->

  <div *ngIf="populerMovies" class="slider-wrapper">
    <h1>Popüler</h1>
    <button class="scroll-btn left" (click)="scrollLeft(sliderRefP)">
      &#10094;
    </button>
    <button class="scroll-btn right" (click)="scrollRight(sliderRefP)">
      &#10095;
    </button>

    <div #sliderRefP class="flex-container scroll-hide">
      <div *ngFor="let img of populerMovies" class="movie-card">
        <img
          [src]="baseUrl + img.poster_path"
          alt="{{ img.title }}"
          (click)="details(img.id)"
        />
      </div>
    </div>
  </div>

  <!-- top rated -->

  <div *ngIf="topRatedMovies" class="slider-wrapper">
    <h1>Yüksek Puan</h1>
    <button class="scroll-btn left" (click)="scrollLeft(sliderRefT)">
      &#10094;
    </button>
    <button class="scroll-btn right" (click)="scrollRight(sliderRefT)">
      &#10095;
    </button>

    <div #sliderRefT class="flex-container scroll-hide">
      <div *ngFor="let img of topRatedMovies" class="movie-card">
        <img
          [src]="baseUrl + img.poster_path"
          alt="{{ img.title }}"
          (click)="details(img.id)"
        />
      </div>
    </div>
  </div>

  <!-- up coming -->

  <div *ngIf="upComingMovies" class="slider-wrapper">
    <h1>Gelecekler</h1>
    <button class="scroll-btn left" (click)="scrollLeft(sliderRefU)">
      &#10094;
    </button>
    <button class="scroll-btn right" (click)="scrollRight(sliderRefU)">
      &#10095;
    </button>

    <div #sliderRefU class="flex-container scroll-hide">
      <div *ngFor="let img of upComingMovies" class="movie-card">
        <img
          [src]="baseUrl + img.poster_path"
          alt="{{ img.title }}"
          (click)="details(img.id)"
        />
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
