<div class="general_content">
  <div class="bg_img_content">
    <app-header></app-header>
    <div class="transparent-frame"></div>
  </div>

  <div class="slider">
    <div class="title">Popüler</div>
    <button class="prev" (click)="slickPrev()">&#10094;</button>
    <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let img of movies?.results" class="slide">
        <img [src]="baseUrl + img.poster_path" alt="gallery image" />
      </div>
    </ngx-slick-carousel>
    <button class="next" (click)="slickNext()">&#10095;</button>
  </div>
  <div class="slogan">
    <span>İzle</span> <span>Eğlen</span><span>Keşfet</span>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
