.general_content {
  width: 100%;
  background-color: rgba(0, 0, 0);
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  .bg_img_content {
    width: 100%;
    height: 699px;
    margin-bottom: 50px;
    position: relative;
    background-image: url("../../../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .transparent-frame {
      position: absolute;
      width: 100%;
      height: 91vh;

      background: rgba(0, 0, 0, 0.8);
    }
  }

  .slider-wrapper {
    position: relative;
    width: 90%;

    padding: 0 40px;
    margin-top: 150px;
  }

  /* Kaydırma Konteyneri */
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    scroll-behavior: smooth;
  }

  .scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .movie-card {
    flex: 0 0 200px;
    transition: transform 0.2s;
    overflow: hidden;
    cursor: pointer;
  }

  .movie-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .movie-card:hover {
    transform: scale(1.05);
    z-index: 5;
  }

  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 2rem;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 10;
    opacity: 0.8;
  }

  .scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
  }

  .scroll-btn.left {
    left: 0;
  }
  .scroll-btn.right {
    right: 0;
  }

  .slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(120, 2, 2);
    margin-top: 150px;
    margin-bottom: 50px;
    font-style: italic;

    span {
      margin-right: 40px;
    }
  }
}
