<div class="details-content">
  <div class="details-img">
    <table>
      <tr>
        <td>
          <img
            [src]="baseUrl + movieDetail?.poster_path"
            alt="resim bulunamadı"
          />
        </td>
        <td>
          <tr>
            <h1>{{ movieDetail.title }}</h1>
          </tr>
          <tr>
            <span class="movie-detail-title">Türler:</span>
            <span *ngFor="let movie of movieDetail?.genres"
              ><span style="margin-right: 10px"></span>{{ movie.name }}
            </span>
          </tr>
          <tr>
            <span
              ><span class="movie-detail-title">Orijinal Dil:</span
              >{{ movieDetail?.original_language }}</span
            >
          </tr>
          <tr>
            <span class="movie-detail-title" style="margin-bottom: 20px"
              >Özet:</span
            >
          </tr>
          <tr>
            <span>{{ movieDetail?.overview }}</span>
          </tr>
          <tr>
            <span class="movie-detail-title">Yayınlanma:</span>
            <span>{{ movieDetail?.release_date }}</span>
          </tr>
          <tr>
            <span class="movie-detail-title">Süre:</span>
            <span>{{ movieDetail?.runtime }}</span>
          </tr>
          <tr>
            <i
              class="fa-solid fa-heart favorites"
              (click)="send(this.movieDetail)"
            ></i>
          </tr>
        </td>
      </tr>
    </table>

    <div style="color: aliceblue">
      <div class="details-content p-4 text-white">
        <!-- oyuncular -->

        <div *ngIf="movieCredist" class="slider-wrapper">
          <h1 class="sub-title">Oyuncular</h1>
          <button class="scroll-btn left" (click)="scrollLeft(sliderRefC)">
            &#10094;
          </button>
          <button class="scroll-btn right" (click)="scrollRight(sliderRefC)">
            &#10095;
          </button>

          <div #sliderRefC class="flex-container scroll-hide">
            <div *ngFor="let img of movieCredist.cast" class="movie-card">
              <img
                [src]="baseUrl + img.profile_path"
                alt="{{ img.title }}"
                (click)="
                  creditsDetail(
                    img.character,
                    img.name,
                    img.popularity,
                    img.profile_path
                  )
                "
              />
              <span class="character-name">{{ img.character }}</span>
            </div>
          </div>
        </div>

        <!-- Benzer -->

        <div *ngIf="movieSimilar" class="slider-wrapper">
          <h1 class="sub-title">Benzer</h1>
          <button class="scroll-btn left" (click)="scrollLeft(sliderRefS)">
            &#10094;
          </button>
          <button class="scroll-btn right" (click)="scrollRight(sliderRefS)">
            &#10095;
          </button>

          <div #sliderRefS class="flex-container scroll-hide">
            <div *ngFor="let img of movieSimilar" class="movie-card">
              <img
                [src]="baseUrl + img.poster_path"
                alt="{{ img.title }}"
                (click)="similarMovieDetails(img.id)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
<app-up-button></app-up-button>
