<div class="credit-details">
  <table>
    <tr>
      <td>
        <img src="{{ baseUrl + profile }}" alt="resim bulunamadı" />
      </td>

      <td class="character-inf">
        <tr>
          <span class="title">Karakter Adı:</span>
          <span>{{ characterName }}</span>
        </tr>
        <tr>
          <span class="title">Gerçek Adı:</span>
          <span>{{ reallName }}</span>
        </tr>
        <tr>
          <span class="title">Popülerlik</span>
          <span>{{ popularity }}</span>
        </tr>
      </td>
    </tr>
  </table>
  <app-footer></app-footer>
</div>
